Repository Dragon1207/django-admin-tool: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: poetry run black --check
        exclude: .*\/migrations
        types: [ python ]
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [ python ]
  - repo: https://github.com/Junte/pre-commit
    rev: dd6e76fdd37e61dd701e378becbbeb3ff1807150
    hooks:
      - id: check-commit-message
        stages: [ commit-msg ]

Add pre-commit
  Makefile
Due: none

Fix 500 in config(constance) #35
  src/jnt_admin_tools/dashboard/dashboards.py
Due: black, flake8

Fix 500 in config(constance) #35
  pyproject.toml
Due: none

Change ugettext_lazy -> gettext_lazy, update version 0.9.13
  pyproject.toml
  test_proj/dashboard.py
Due: black, flake8

Change ugettext_lazy -> gettext_lazy, update version 0.9.14
  pyproject.toml
  src/jnt_admin_tools/dashboard/dashboards.py
  src/jnt_admin_tools/dashboard/modules.py
  src/jnt_admin_tools/menu/items.py
  src/jnt_admin_tools/menu/menus.py
Due: black, flake8

Update libraries
  poetry.lock
  pyproject.toml
Due: none

Fix quality warns
  pyproject.toml
  src/jnt_admin_tools/dashboard/modules.py
  src/jnt_admin_tools/mixins.py
  src/jnt_admin_tools/utils.py
  src/jnt_admin_tools/widgets/permissions.py
  test_proj/test_app/admin.py
Due: black, flake8

Add admin clickable mixin (for changelist/changeform) #36
  src/jnt_admin_tools/admin.py
  src/jnt_admin_tools/mixins.py
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/admin_clickable_links.py
  src/jnt_admin_tools/mixins/autocomplete_fields.py
  src/jnt_admin_tools/mixins/base_generic_foreign_key.py
  src/jnt_admin_tools/mixins/generic_foreign_key.py
  src/jnt_admin_tools/mixins/generic_foreign_key_inline.py
  src/jnt_admin_tools/services/object_links.py
  src/jnt_admin_tools/services/readonly_form_field.py
  test_proj/settings.py
  test_proj/test_app/admin.py
  test_proj/test_app/models.py
Due: black, flake8

Refactor version: "0.9.17" -> "0.9.18" #36
  pyproject.toml
  test_proj/test_app/migrations/0010_auto_20201119_1844.py
Due: flake8

Add permission readonly widget #36
  src/jnt_admin_tools/fields/permissions.py
  src/jnt_admin_tools/templates/jnt_admin_tools/widgets/permissions.html
  src/jnt_admin_tools/widgets/__init__.py
  src/jnt_admin_tools/widgets/permissions.py
  src/jnt_admin_tools/widgets/permissions_readonly.py
  test_proj/test_app/admin.py
Due: black, flake8

Add permission readonly widget #36
  src/jnt_admin_tools/widgets/permissions.py
Due: black, flake8

Add permission readonly widget #36
  src/jnt_admin_tools/static/jnt_admin_tools/css/widgets/permissions.css
Due: none

Add checking empty value for readonly present #36
  pyproject.toml
  src/jnt_admin_tools/services/readonly_form_field.py
Due: black, flake8

Refactor present_admin_readonly_field #37
  pyproject.toml
  src/jnt_admin_tools/services/readonly_form_field.py
Due: black, flake8

Add cache to Menu Item #38
  pyproject.toml
  src/jnt_admin_tools/menu/items.py
  src/jnt_admin_tools/menu/templates/jnt_admin_tools/menu/menu.html
Due: black, flake8

Refactor object link implement translation for short_description #41
  pyproject.toml
  src/jnt_admin_tools/services/object_links.py
Due: black, flake8

Refactor present readonly for choices #41
  src/jnt_admin_tools/services/readonly_form_field.py
Due: black, flake8

Fix _get_short_description #41
  pyproject.toml
  src/jnt_admin_tools/services/object_links.py
Due: black, flake8

Refactor readonly present, update version #41
  pyproject.toml
  src/jnt_admin_tools/services/readonly_form_field.py
Due: black, flake8

Fix warning `ifequal`, update version #42
  pyproject.toml
  src/jnt_admin_tools/dashboard/templates/jnt_admin_tools/dashboard/modules/group.html
  src/jnt_admin_tools/menu/templates/jnt_admin_tools/menu/item.html
Due: none

Fix navigation menu
  pyproject.toml
  src/jnt_admin_tools/menu/templates/jnt_admin_tools/menu/menu.html
Due: none

Refactor autocomplete filters #47
  pyproject.toml
  src/jnt_admin_tools/autocomplete_filter.py
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
  test_proj/test_app/admin.py
  test_proj/test_app/filters.py
Due: black, flake8

Refactor autocomplete filters #47
  src/jnt_admin_tools/autocomplete_filter.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
Due: black, flake8

Add base model admin #48
  pyproject.toml
  src/jnt_admin_tools/admin/__init__.py
  src/jnt_admin_tools/admin/base.py
  src/jnt_admin_tools/admin/content_type.py
  test_proj/test_app/admin.py
Due: black, flake8

Refactor class name: AutocompleteBaseModelAdminMixin -> AutocompleteAdminMixin #48
  src/jnt_admin_tools/admin/base.py
  test_proj/test_app/admin.py
Due: black, flake8

Refactor class name: AdminClickableLinksMixin -> ClickableLinksAdminMixin #48
  src/jnt_admin_tools/admin/base.py
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/clickable_links_admin.py
  test_proj/test_app/admin.py
Due: black, flake8

Refactor class names #48
  src/jnt_admin_tools/admin/base.py
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
  src/jnt_admin_tools/mixins/autocomplete_fields.py
Due: black, flake8

Refactor file names #48
  src/jnt_admin_tools/admin/base.py
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters_admin.py
  src/jnt_admin_tools/mixins/autocomplete_fields_admin.py
Due: black, flake8

Refactor file names #48
  src/jnt_admin_tools/mixins/__init__.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
  src/jnt_admin_tools/mixins/autocomplete_fields.py
  src/jnt_admin_tools/mixins/clickable_links.py
Due: black, flake8

Add AdminMenuItem #49
  src/jnt_admin_tools/menu/admin/__init__.py
  src/jnt_admin_tools/menu/admin/admin_menu_item.py
Due: black, flake8

Refactor show empty fields for readonly #50
  src/jnt_admin_tools/services/readonly_form_field.py
Due: black, flake8

Refactor show empty fields for readonly #50
  pyproject.toml
Due: none

Refactor autocomplete mixin #51
  pyproject.toml
  src/jnt_admin_tools/mixins/autocomplete.py
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
  src/jnt_admin_tools/mixins/base.py
  test_proj/test_app/admin.py
Due: black, flake8

Refactor autocomplete mixin #51
  src/jnt_admin_tools/mixins/autocomplete_changelist_filters.py
Due: black, flake8

Refactor autocomplete mixin #51
  pyproject.toml
  src/jnt_admin_tools/mixins/__init__.py
  test_proj/test_app/admin.py
Due: black, flake8

Refactor autocomplete mixin #52
  pyproject.toml
  src/jnt_admin_tools/dashboard/modules.py
Due: black, flake8

Refactor permissions readonly widget #53
  src/jnt_admin_tools/widgets/permissions_readonly.py
Due: black, flake8
